.App {
  height: 100%;
}

header {
  background-color: #252525d2;
  color: #fff;
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: row;
  height: 75%;
  padding: 15px;
}

header > h1,
main {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
